{% extends 'base.html.twig' %}
{% block title %}
    Add themes !
{% endblock %}


{% block Titlebody %}Add a new theme to the forum{% endblock %}

{% block body %}
    {% form_theme NewThemeForm 'bootstrap_5_layout.html.twig' %}

    {{ form_start(NewThemeForm) }}


    {{ form_row(NewThemeForm.nom) }}


    <button type="submit" class="btn btn-primary"> Add !</button>
    {{ form_end(NewThemeForm) }}

{% endblock %}



