{% extends 'base.html.twig' %}

{% block title %} List of themes !{% endblock %}

{% block Titlebody %}List of themes {% endblock %}

{% block body %}
    <div class="Contain50">
        <h3> Choose a theme and go ! </h3>
        <hr>
        <div id="Datatable">Loading...</div>

    </div>

    {% block data_tables %}
        {% if datatableTheme is defined %}
            <script>
                $(function() {
                    $('#Datatable').initDataTables({{ datatable_settings(datatableTheme) }},
                        {
                            "pageLength": 5,
                            "lengthMenu": [5, 10, 25, 50, 100],
                            columnDefs: [
                                {width: "8%", targets: 0},
                            ]
                        } );
                });

            </script>
        {% endif %}
    {% endblock %}

{% endblock %}