{% extends 'base.html.twig' %}

{% block title %} List of themes !{% endblock %}

{% block Titlebody %}List of themes {% endblock %}

{% block body %}
    <div class="Contain50">
        <h3> Choose a theme and go ! </h3>
        <hr>
        <div id="Datatable">Loading...</div>

    </div>

{% endblock %}