{% extends 'base.html.twig' %}

{% block title %} Theme : {{ theme }} {% endblock %}

{% block Titlebody %} Theme : {{ theme }} {% endblock %}

{% block body %}
    <div class="Contain100">
        <h3> Let's talk about  {{ theme }} ! </h3>
        <hr>
        <div id="Datatable">Loading...</div>

    </div>

{% endblock %}