{% extends 'base.html.twig' %}
{% block title %} User's list !{% endblock %}

{% block Titlebody %}User's list {% endblock %}

{% block body %}
    <div class="Contain50">
        <h3> Users </h3>
        <hr>
    <div id="Datatable">Loading...</div>

    </div>

    {% block data_tables %}
        {% if datatableUserList is defined %}
            <script>
                $(function() {
                    $('#Datatable').initDataTables({{ datatable_settings(datatableUserList) }},
                        {
                            "pageLength": 10,
                            columnDefs: [
                                {width: "8%", targets: 0},
                            ]
                        } );
                });

            </script>
        {% endif %}
    {% endblock %}

{% endblock %}